  <aside id="sidebar" class="affix">
      <div id="sidebar-search">
          <div class="sidebar-toggle"><span class="glyphicon glyphicon-resize-horizontal"></span></div>
      </div>
      <div id="sidebar-menu">
          <ul class="nav sidebar-nav">
              <li>
                  <a href="{:url('cms/index/index')}"><span class="glyphicons glyphicon-home"></span><span
                          class="sidebar-title">后台首页</span></a>
              </li>

              <li>
                  <a href="{:url('cms/nav/index')}"><span class="glyphicons glyphicon-list"></span><span
                          class="sidebar-title">导航管理</span></a>
              </li>

              <li>
                  <a href="{:url('cms/banner/index')}"><span class="glyphicons glyphicon-list"></span><span
                          class="sidebar-title">轮播图管理</span></a>
              </li>

              <li>
                  <a href="{:url('cms/product/index')}"><span class="glyphicons glyphicon-list"></span><span
                          class="sidebar-title">核心产品管理</span></a>
              </li>

              <li> <a href="#sideEight" class="accordion-toggle"><span class="glyphicons glyphicon-list"></span><span
                          class="sidebar-title">文章管理</span><span class="caret"></span></a>
                  <ul class="nav sub-nav" id="sideEight" style="">
                      <li><a href="#sideEight-sub" class="accordion-toggle menu-open"><span
                                  class="glyphicons glyphicon-record"></span>科技<span class="caret"></span></a>
                          <ul class="nav sub-nav" id="sideEight-sub" style="">
                              <li><a href="article_list.html"><span class="glyphicons glyphicon-minus"></span> 互联网</a>
                              </li>
                              <li><a href="#"><span class="glyphicons glyphicon-minus"></span> 数码</a></li>
                              <li><a href="#"><span class="glyphicons glyphicon-minus"></span> IT</a></li>
                              <li><a href="#"><span class="glyphicons glyphicon-minus"></span> 电信</a></li>
                          </ul>
                      </li>
                      <li><a href="#"><span class="glyphicons glyphicon-record"></span> 文化</a></li>
                      <li><a href="#"><span class="glyphicons glyphicon-record"></span> 生活</a></li>
                  </ul>
              </li>
              <li>
                  <a href="cate_list.html"><span class="glyphicons glyphicon-list"></span><span
                          class="sidebar-title">文章分类管理</span></a>
              </li>
              <li>
                  <a href="{:url('cms/user/index')}"><span class="glyphicons glyphicon-list"></span><span
                          class="sidebar-title">会员管理</span></a>
              </li>
              <li>
                  <a href="{:url('cms/admin/index')}"><span class="glyphicons glyphicon-list"></span><span
                          class="sidebar-title">系统管理员</span></a>
              </li>
          </ul>
      </div>
  </aside>